# Data 200: Data Systems for Data Analytics (Spring 2025)

# Homework 1: Introduction to NumPy

## <font color='red'>**Due Date and Time:** 3:00pm on Monday, 2/3/2024 </font>
---
Enter your name in the markdown cell below.

# Name:

In [1]:
## RUN THIS CELL TO GET THE RIGHT FORMATTING AND TO LOAD NumPy
import requests
import numpy as np
from IPython.core.display import HTML
styles = requests.get("https://raw.githubusercontent.com/Harvard-IACS/2018-CS109A/master/content/styles/cs109.css").text
HTML(styles)

# Tasks

- Read pages 3-15 in the textbook
- Complete the **numPy** chapter of the **Introduction to Python** course on DataCamp
- Read pages 23-46 in the Course Notes
- E-mail me your completed Jupyter notebook
- Upload it to Moodle as well in the Homework 1 assignment

# Exercises

Run the code cell below.

In [5]:
values = [23, 19, 34, 50]

<div class="exercise"><b>Exercise 1</b></div> 

Convert the Python list `values` to a NumPy array called `np_values` and then print the array.

In [9]:
np_values = np.array(values)
np_values

array([23, 19, 34, 50])

<div class="exercise"><b>Exercise 2</b></div> 

Using the `np.arange(.)` function: <br><br>
a) Create an array `x` with integers ranging from 12 to 36.<br>
b) Create an array `x2` with even integers ranging from 10 to 20.<br>
c) Create an array `x3` with integers from 8 to -4 in a backwards fashion.<br>

Be sure to print the arrays to obtain the following expected output:<br><br>`[12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35]`<br>`[10 12 14 16 18]
`<br>`[ 8  7  6  5  4  3  2  1  0 -1 -2 -3]`

In [13]:
x = np.arange(12,36)
x

array([12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28,
       29, 30, 31, 32, 33, 34, 35])

In [15]:
x2 = np.arange(10,20,2)
x2

array([10, 12, 14, 16, 18])

In [19]:
x3 = np.arange(8,-5, -1)
x3

array([ 8,  7,  6,  5,  4,  3,  2,  1,  0, -1, -2, -3, -4])

Run the code cell below, which defines an array `mpg` of miles-per-gallon (mpg) of a fleet of vehicles.

In [23]:
mpg = np.array([19, 23, 20, 21, 20, 23, 21, 21, 23, 19, 24, 23, 28, 19, 18, 21, 23, 17, 20, 20, 20, 21, 24, 18, 15])

<div class="exercise"><b>Exercise 3</b></div> 

Develop Python code to accomplish the following (you may want to review Boolean Indexing):<br><br>
a) Print the elements in `mpg` from index 3 to 10<br>
b) Print the elements in `mpg` from index 15 forward<br>
c) Create and print an array `goodMpg` that contains all the elements in `mpg` that are >= 23<br>
d) Create and print an array `okMpg` that contains all the elements in `mpg` that are strictly between 18 and 23<br>
e) Using *vectorization*, convert the `mpg` values to kilometers-per-liter (kpl) and assign it to the array `kpl`--be sure to print the new array. Note: 1 mpg = 0.425 kpl.<br>

The expected output for this exercise is as follows:<br>
    
<code>[21 20 23 21 21 23 19]
[21 23 17 20 20 20 21 24 18 15]
[23 23 23 24 23 28 23 24]
[19 20 21 20 21 21 19 19 21 20 20 20 21]
[  8.075   9.775   8.5     8.925   8.5     9.775   8.925   8.925   9.775
   8.075  10.2     9.775  11.9     8.075   7.65    8.925   9.775   7.225
   8.5     8.5     8.5     8.925  10.2     7.65    6.375]</code>

In [25]:
mpg[3:10]

array([21, 20, 23, 21, 21, 23, 19])

In [27]:
mpg[15:]

array([21, 23, 17, 20, 20, 20, 21, 24, 18, 15])

In [31]:
goodMpg = mpg[mpg>=23]
goodMpg

array([23, 23, 23, 24, 23, 28, 23, 24])

In [39]:
okMpg = mpg[(mpg > 18) & (mpg <23)]
okMpg

array([19, 20, 21, 20, 21, 21, 19, 19, 21, 20, 20, 20, 21])

In [43]:
kpl = mpg * 0.425
kpl

array([ 8.075,  9.775,  8.5  ,  8.925,  8.5  ,  9.775,  8.925,  8.925,
        9.775,  8.075, 10.2  ,  9.775, 11.9  ,  8.075,  7.65 ,  8.925,
        9.775,  7.225,  8.5  ,  8.5  ,  8.5  ,  8.925, 10.2  ,  7.65 ,
        6.375])

<div class="exercise"><b>Exercise 4</b></div> 
Develop Python code to do the following:<br>

a) Create and print a 3x3 matrix A (2D NumPy array) with values ranging from 2 to 10 (using `arange(.)` and `reshape(.)`). <br>
b) Negate all the numbers of A that are strictly between 3 and 7 and then print the updated matrix.<br>

The expected output for this exercise is as follows:<br>
        
<code>[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]</code>

<code>
[[ 2  3 -4]
 [-5 -6  7]
 [ 8  9 10]]</code>

In [69]:
x = np.arange(2,11)
A = x.reshape(3,3)
print(A)

[[ 2  3  4]
 [ 5  6  7]
 [ 8  9 10]]

In [79]:
A[(A > 3) & (A < 7)] *= -1
print(A)

[[ 2  3 -4]
 [-5 -6  7]
 [ 8  9 10]]

<div class="exercise"><b>Exercise 5</b></div> Develop Python code to do the following:<br><br>
a) Print the first row of A (from the previous exercise--the updated matrix from part (b)<br>
b) Print the third column of A (from the previous exercise)--make sure the output is a 3x1 column!<br>
c) Print the sum of the values of the second column of A<br>
d) Print the average of all the values of A<br>
e) Print the median of the values of the first column of A<br>

The expected output for this exercise is as follows:<br>
        
<code>[ 2  3 -4]</code>

<code>
[[-4]
 [ 7]
 [10]]</code>

`6`

`2.66666666667`

`2.0`

In [81]:
A[0,:]

array([ 2,  3, -4])

In [83]:
A[:, 2]

array([-4,  7, 10])

In [99]:
sum_second_column = np.sum(A[:, 1])
sum_second_column

6

In [103]:
average = np.mean(A)
average

2.6666666666666665

In [105]:
median = np.median(A[:,1])
median

3.0

<div class="exercise"><b>Exercise 6</b></div>Use *broadcasting* to add the row [-2 1 2] to each of the rows of A<br>

The expected output for this exercise is as follows:<br>
        
<code>[[ 0  4 -2]
 [-7 -5  9]
 [ 6 10 12]]</code>

In [113]:
add = np.array([-2,1,2])
add_matrix = A + add
add_matrix

array([[ 0,  4, -2],
       [-7, -5,  9],
       [ 6, 10, 12]])

<div class="exercise"><b>Exercise 7</b></div>Create and print a 4x3x2 (3-dimensional) array B consisting of the numbers 0 through 23

The expected output for this exercise is as follows::<br>
        
<code>[[[ 0  1]
  [ 2  3]
  [ 4  5]]</code>

 <code>[[ 6  7]
  [ 8  9]
  [10 11]]</code>

 <code>[[12 13]
  [14 15]
  [16 17]]</code>

 <code>[[18 19]
  [20 21]
  [22 23]]]</code>

In [127]:
matrix3D = np.arange(24).reshape(4, 3, 2)
matrix3D

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]],

       [[12, 13],
        [14, 15],
        [16, 17]],

       [[18, 19],
        [20, 21],
        [22, 23]]])